@model Pidev.Presentation.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
      xmlns:c="http://java.sun.com/jstl/core">
<head>
    <title>Login</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <script rel="icon" type="image/png" href="../Content/resources/images/aa.jpg"></script>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/resources/vendor/bootstrap/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/resources/fonts/iconic/css/material-design-iconic-font.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/resources/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/resources/vendor/css-hamburgers/hamburgers.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/resources/vendor/animsition/css/animsition.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/resources/vendor/select2/select2.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/resources/vendor/daterangepicker/daterangepicker.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/resources/css/util.css" />
    <link rel="stylesheet" type="text/css" href="../Content/resources/css/main.css" />
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-70">
                        AdvyTeam
                    </span>
                    <span class="login100-form-avatar">
                        <img src="../Content/resources/images/aa.png" alt="AVATAR" />
                    </span>

                    @using (Html.BeginForm())
                    {

                        <div class="form-horizontal">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                            </div>




                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="connexion" class="btn btn-default" />
                                </div>
                            </div>

                            </div>

                            }
                            <message for="btn" />
                            <ul class="login-more p-t-190">
                                <li class="m-b-8">
                                    <span class="txt1">
                                        Forgot
                                    </span>

                                    <a href="#" class="txt2">
                                        Username / Password?
                                    </a>
                                </li>

                                <li>
                                    <span class="txt1">
                                        Don’t have an account?
                                    </span>

                                    <a href="#" class="txt2">
                                        Sign up
                                    </a>
                                </li>
                            </ul>
                    </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script href="../Content/resources/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script href="../Content/resources/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script href="../Content/resources/vendor/bootstrap/js/popper.js"></script>
    <script href="../Content/resources/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script href="../Content/resources/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script href="../Content/resources/vendor/daterangepicker/moment.min.js"></script>
    <script href="../Content/resources/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script href="../Content/resources/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script href="../Content/resources/js/main.js"></script>

</body>

</html>
